body {
  background-color: #2f3640;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-top: 130px;
}

.road {
  border: 3px dashed black;
  margin-top: -5px;
}

.runner {
  background-image: url("../img//png/spriteBoy.png");
  width: 100px;
  height: 135px;
  animation: 0.8s walking infinite steps(8), 2s boyAnimate linear infinite;
}

@keyframes walking {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 862px;
  }
}

@keyframes boyAnimate {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(862px);
  }
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #D7835F;
  font-family: 'Gaegu', cursive;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
}
